<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
          
       <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUhUPJAJ5yW1LEwv3nCbnnjsoHbP3LmAHKHQ&usqp=CAU" width="110px" height="45px" alt="logo">
    
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/leitores" href="#">Leitor</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/leitor" href="#">Tabelas de Leitor</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
